<div class="jumbotron mt-4">
 <h1 class="display-4">Notes App nodesjs and Mongo DB</h1>
 <p class="lead"lorem asfasfa></p>
 <hr class="my-4">
 <p>fdgsfghfdsfghfdsfgsfgdgd</p>
 <a href="https://app.schoology.com/assignment/1813677138/info" class="btn btn-primary btn-lg">School</a>
</div>